.CV {
    width: 85%;
    height: 1000px;

    margin: .3rem .6rem;
    padding: 1.5rem;

    background-image: url(../../assets/images/pexels-nothing-ahead-3571551.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'basicData contentData'
    'styleColumn contentData'
    ;
    gap: .2rem 1rem;
}

.basic-CV-section {
    padding: .8em;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: aliceblue;
    color: black;
}

.basic-CV-section .name, .basic-CV-section .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6ch;
}
.basic-CV-section .contact {
    flex-direction: column;
}
.basic-CV-section h2 {
    font-size: 1.2rem;
    font-weight: 700;
}
.basic-CV-section h3 {
    font-size: 1rem;
    font-weight: 600;
}

.left-style {
    grid-area: styleColumn;

    background-color: aliceblue;
    opacity: .8;
}

.content-CV-wrapper {
    grid-area: contentData;

    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.work-experience-CV-wrapper, .work-experience-CV-wrapper > *, .education-CV-wrapper > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-experience-CV-wrapper, .education-CV-wrapper {
    color: black;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 1rem;
}
.CV-content-section, .basic-CV-section {
    position: relative;
}
.CV-content-section h3 {
    font-size: 1rem;
}
.CV-content-section .content h3:first-child {
    font-weight: 600;
}
.CV-content-section h4 {
    font-size: .9rem;
}
.CV-content-section .date h4 {
    font-weight: 500;
}

.content-CV-wrapper .buttons, .basic-CV-section .buttons {
    grid-area: buttons;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 1rem;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
}
.basic-CV-section .buttons {
    transform: translate(-50%, 0%);
}
.content-CV-wrapper button, .basic-CV-section button {

    padding: .3rem 1rem;
    border: none;
    margin: .5rem;

}

.CV-content-section {
    width: 100%;

    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'dateColumn contentColumn'
    'dateColumn contentColumn'
    'buttons buttons';
    justify-content: center;
    align-content: center;
}
.CV-content-section > .content {
    grid-area: contentColumn;
    gap: .3rem;
}
.CV-content-section > .date {
    grid-area: dateColumn;
    gap: .2rem;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important    ;
}

button:active {
    outline: 2px solid wheat;
}