.CV {
    width: 85%;
    height: 100%;

    margin: .3rem .6rem;
    padding: 1.5rem;

    background-image: url(../../../assets/images/pexels-nothing-ahead-3571551.jpg);
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'basicData contentData'
    'styleColumn contentData'
    ;
}

.basic-CV-section {
    border: 1px solid red;
    padding: .8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: aliceblue;
    color: black;
}

.basic-CV-section .name, .basic-CV-section .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6ch;
}
.basic-CV-section .contact {
    flex-direction: column;
}

.basic-CV-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.basic-CV-section h3 {
    font-size: 1.2rem;
}

.left-style {
    grid-area: styleColumn;

    background-color: aliceblue;
    opacity: .8;
}

.content-CV-wrapper {
    grid-area: contentData;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
