footer {
    grid-column: span 2;
    margin-top: 2.5rem;
    position: relative;
}
.footer-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 3px solid white;
    border-radius: 10px 10px 0 0;
    
    background: rgb(78, 134, 71);
    will-change: display;

}
.footer--toggle-btn {
    width: 32px;
    margin-bottom: .2rem;
    cursor: pointer;
}

.footer--contact-details {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: .3rem;
}

.footer--contact-details > * {
    margin: .3rem;
}