

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .3rem;
    margin-bottom: 1rem;
    border: 1px solid gray;

    background-color: #e6f3e3;
}
legend {
    color: black;
}

.CV--input {
    padding: .2rem;
    border-bottom: 1px solid white;
    background-color: #77a452;
}

input, textarea {
    border: none;
    padding: .2rem;
    font-weight: 600;

    background: aliceblue;
    color: black;
}


label {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;

    color: black;
}
form button {
    padding: .5rem 1rem;
    border: 1px solid white;
    margin: 0.3rem .5rem 0rem;
    background-color: #77a452;

}
