

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .3rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}