header {
    height: 3rem;

    padding: 1.5rem;
    border-bottom: 5px solid black;
    border-radius: 0 0 10px 10px;

    background: rgb(49, 49, 49);
}

header > h1 {
    font-size: 2rem;
    font-weight: 700;
}